* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  background-color: rgb(252, 243, 128);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353739;
}

.calc {
  box-shadow: 2px 2px 20px #f1f2ed, 6px 6px 13px rgba(0, 0, 0, 0.16);
  border-radius: 28px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 66px);
}

input {
  grid-column: span 4;
  height: 88px;
  width: 258px;
  box-shadow: inset -6px -6px 13px #757272,
    inset 6px 6px 13px rgba(130, 128, 128, 0.16);
  border: black;
  background-color: #ecf0f3;
  border-radius: 32px;
  color: rgb(81, 81, 89);
  text-align: end;
  margin: 20px 0px 30px 0px;
  padding: 20px;
  font-size: 40px;
}

button {
  box-shadow: inset 2px 2px 20px rgb(135, 135, 83),
    6px 6px 1px rgba(189, 17, 17, 0.16);
  border: none;
  border-radius: 60%;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.equal {
  width: 120px;
  border-radius: 42px;
  box-shadow: inset 2px 2px 20px rgb(135, 135, 83),
    6px 6px 1px rgba(189, 17, 17, 0.16);
  background-color: #ebeb84;
}
